<!doctype html>
<html xmlns:th="http://thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastrar produto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body data-bs-theme="dark">
    <main>
        <section class="container-md d-flex justify-content-center align-items-center w-100 vh-100">
            <form th:action="@{/cadastrar}" th:object="${produto}" method="post" class="w-50 d-flex flex-column p-3 rounded border small">
                <h4 class="p-2">Cadastrar produto</h4>
                <div class="mb-2">
                    <label for="nome" class="form-label ">Nome</label>
                    <input type="text" th:field="*{nome}" placeholder="Nome do produto" class="form-control">
                </div>
                <div class="mb-2">
                    <label for="descricao" class="form-label">Descrição</label>
                    <input type="text" th:field="*{descricao}" placeholder="Descrição do produto" class="form-control">
                </div>
                <div class="mb-2">
                    <label for="preco" class="form-label">Preço</label>
                    <input type="number" th:field="*{preco}" step="00.01" placeholder="Preço do produto" class="form-control">
                    <span th:if="*{preco} == 0 ? 'Uai 1': 'Uai 2'"></span>
                </div>
                <div class="mb-2">
                    <label for="categoria" class="form-label">Categoria</label>
                    <select th:field="*{categoria}" class="form-select">
                        <option selected value="Eletrônico">Eletrônico</option>
                        <option value="Vestuário">Vestuário</option>
                        <option value="Vestuário">Alimento</option>
                        <option value="Outros">Outros</option>
                    </select>
                </div>
                <div class="mb-2">
                    <label for="estoque" class="form-label">Quantidade em estoque</label>
                    <input type="number" th:field="*{estoque}" placeholder="Exemplares" class="form-control">
                </div>
                <button type="submit" class="p-2 mt-3 mb-2 btn btn-primary rounded border border-0">Cadastrar</button>
                <a th:href="@{/lista}" class="text-center">Ver Lista de Produtos</a>
            </form>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-YUe2LzmiqMDlrzKO8jPRGLKTQMjGxSFGKxf6hXbgTerSM8eNvjxoJFmFIXuIOYv" crossorigin="anonymous"></script>

</body>
</html>