<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <h1>Inserir coordenadas</h1>
        <form action="/obterClima" method="get">
            <input type="text" name="latitude" id="">
            <input type="text" name="longitude" id="">
            <button type="submit">Obter Clima</button>
        </form>  
    </main>
</body>
</html>